<h1>Movies#show</h1>

<p id="notice"><%= notice %></p>


<h2><%= @movie.title %></h2>

<div class='movie-table'>
  <table class="table table-info">
    <thead>
      <tr>
        <th>Current Lists</th>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <% @movie.lists.for_user(current_user).each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= link_to 'Remove', @movie.listings.find_by(list_id: list), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br />

<div id='add-to-list-form'>
  <h4>Add to a list</h4>
  <%= form_with(model: Listing.new(creator: current_user)) do |form| %>
    <div class="form-group">
      <%= form.label :list %>
      <%= form.collection_select(
        :list_id,
        current_user.lists.where.not(id: @movie.lists.for_user(current_user)),
        :id,
        :name
        )
      %>
    </div>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <div class="form-group">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
<div>
